<a href="https://colab.research.google.com/github/angelareis/Projeto_Mocoia/blob/main/Aula_04_Limpeza_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza de Dados

* Verifica os tipos
* Investigar Inconsistências
* Dados Faltosos (Missing data)
* Análise de duplicatas
* Remoção de colunas constantes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nyc_sales = pd.read_csv('https://raw.githubusercontent.com/abnr/ml-data/main/nyc-rolling-sales_twentieth.csv')

In [ ]:
nyc_sales.head(2)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00

In [ ]:
nyc_sales.drop( columns=['Unnamed: 0'], inplace=True)
#nyc_sales2 = nyc_sales.drop( columns=['Unnamed: 0'])

In [ ]:
nyc_sales

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 9A",,...,0,0,0,-,-,1925,2,D4,-,2017-02-08 00:00:00
16905,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 10C",,...,0,0,0,-,-,1925,2,D4,712500,2017-02-13 00:00:00
16906,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89 ST, 10D",,...,0,0,0,-,-,1925,2,D4,740000,2017-02-13 00:00:00
16907,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 7G",,...,0,0,0,-,-,1925,2,D4,1800000,2017-04-27 00:00:00
16908,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 W 89TH STREET, 8E",,...,0,0,0,-,-,1925,2,D4,-,2017-05-04 00:00:00

In [ ]:
nyc_sales.columns[0:3]

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY'], dtype='object')

In [ ]:
#nyc_sales.drop( columns=nyc_sales.columns[0:3].to_list(), inplace=True )
nyc_sales.drop( columns=['Unnamed: 0'], inplace=True )

KeyError: ignored

# Exemplos de inconsistências

In [ ]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  int64
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  int64
 5   LOT                             16909 non-null  int64
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                16909 non-null  object
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                16909 non-null  object
 15  GROSS SQUARE FEET               16909 non-null  object
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      16909 non-null  object
 20  SALE DATE                       16909 non-null  object
dtypes: int64(9), object(12)
memory usage: 2.7+ MB

In [ ]:
nyc_sales['SALE PRICE'].astype('float32')

ValueError: ignored

In [ ]:
nyc_sales['SALE PRICE']

0        6625000
1            -
2            -
3        3936272
4        8000000
          ...
16904        -
16905     712500
16906     740000
16907    1800000
16908        -
Name: SALE PRICE, Length: 16909, dtype: object

In [ ]:
nyc_sales['SALE PRICE'] = pd.to_numeric( nyc_sales['SALE PRICE'], errors='coerce' )

In [ ]:
nyc_sales['LAND SQUARE FEET'] = pd.to_numeric( nyc_sales['LAND SQUARE FEET'], errors='coerce' )
nyc_sales['GROSS SQUARE FEET'] = pd.to_numeric( nyc_sales['GROSS SQUARE FEET'], errors='coerce' )
nyc_sales['APARTMENT NUMBER'] = pd.to_numeric( nyc_sales['APARTMENT NUMBER'], errors='coerce' )

In [ ]:
nyc_sales['SALE PRICE']

0        6625000.0
1              NaN
2              NaN
3        3936272.0
4        8000000.0
           ...
16904          NaN
16905     712500.0
16906     740000.0
16907    1800000.0
16908          NaN
Name: SALE PRICE, Length: 16909, dtype: float64

In [ ]:
for col in [ 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'APARTMENT NUMBER' ]:
    nyc_sales[col] = pd.to_numeric( nyc_sales[col], errors='coerce' )

In [ ]:
for x in [1, 3, 5]:
    print(x)

1
3
5

In [ ]:
nyc_sales.columns = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT_2',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE']

In [ ]:
nyc_sales.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT_2',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [ ]:
nyc_sales.rename(columns={'EASE-MENT_2': 'EASE-MENT'}, inplace=True)

In [ ]:
nyc_sales.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [ ]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  int64
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  int64
 5   LOT                             16909 non-null  int64
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                1156 non-null   float64
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                1731 non-null   float64
 15  GROSS SQUARE FEET               1621 non-null   float64
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      13395 non-null  float64
 20  SALE DATE                       16909 non-null  object
dtypes: float64(4), int64(9), object(8)
memory usage: 2.7+ MB

## Checar o range das datas (procurar por datas muito antigas ou no futuro)

In [ ]:
nyc_sales['SALE DATE'] = pd.to_datetime( nyc_sales['SALE DATE'], format='%Y-%m-%d %H:%M:%S' )

In [ ]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  int64
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  int64
 5   LOT                             16909 non-null  int64
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                1156 non-null   float64
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                1731 non-null   float64
 15  GROSS SQUARE FEET               1621 non-null   float64
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      13395 non-null  float64
 20  SALE DATE                       16909 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(9), object(7)
memory usage: 2.7+ MB

In [ ]:
(nyc_sales['SALE DATE'] > pd.to_datetime( '2022-05-17' )).sum()

0

# Verificar valores negativos em colunas estritamente positivas

In [ ]:
for col in [ 'SALE PRICE', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'APARTMENT NUMBER'  ]:
    print(col, (nyc_sales[col] <= 0).sum() )

SALE PRICE 0
LAND SQUARE FEET 0
GROSS SQUARE FEET 0
APARTMENT NUMBER 1

In [ ]:
nyc_sales.loc[  nyc_sales['APARTMENT NUMBER'] <= 0 ]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
14660,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1542,1151,,R4,301 EAST 79TH STREET,0.0,...,1,0,1,NaN,NaN,1974,2,R4,3150000.0,2016-09-06

# Notação Brasileira

In [ ]:
df = pd.DataFrame( data=['1.000,56', '0,34', '1.000.000,00'], columns=['Valor'] )

In [ ]:
df.head()

          Valor
0      1.000,56
1          0,34
2  1.000.000,00

In [ ]:
df.to_csv('teste.csv', index=False)

In [ ]:
df = pd.read_csv('teste.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Valor   3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [ ]:
df = pd.read_csv('teste.csv', decimal=',', thousands='.')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Valor   3 non-null      float64
dtypes: float64(1)
memory usage: 152.0 bytes

In [ ]:
df.head()

        Valor
0     1000.56
1        0.34
2  1000000.00

# Missing Data

In [ ]:
nyc_sales.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
EASE-MENT                             0
BUILDING CLASS AT PRESENT             0
ADDRESS                               0
APARTMENT NUMBER                  15753
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                  15178
GROSS SQUARE FEET                 15288
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                         3514
SALE DATE                             0
dtype: int64

In [ ]:
nyc_sales.isnull().mean()

BOROUGH                           0.000000
NEIGHBORHOOD                      0.000000
BUILDING CLASS CATEGORY           0.000000
TAX CLASS AT PRESENT              0.000000
BLOCK                             0.000000
LOT                               0.000000
EASE-MENT                         0.000000
BUILDING CLASS AT PRESENT         0.000000
ADDRESS                           0.000000
APARTMENT NUMBER                  0.931634
ZIP CODE                          0.000000
RESIDENTIAL UNITS                 0.000000
COMMERCIAL UNITS                  0.000000
TOTAL UNITS                       0.000000
LAND SQUARE FEET                  0.897628
GROSS SQUARE FEET                 0.904134
YEAR BUILT                        0.000000
TAX CLASS AT TIME OF SALE         0.000000
BUILDING CLASS AT TIME OF SALE    0.000000
SALE PRICE                        0.207818
SALE DATE                         0.000000
dtype: float64

In [ ]:
nyc_sales.isnull().sum()/len(nyc_sales)

BOROUGH                           0.000000
NEIGHBORHOOD                      0.000000
BUILDING CLASS CATEGORY           0.000000
TAX CLASS AT PRESENT              0.000000
BLOCK                             0.000000
LOT                               0.000000
EASE-MENT                         0.000000
BUILDING CLASS AT PRESENT         0.000000
ADDRESS                           0.000000
APARTMENT NUMBER                  0.931634
ZIP CODE                          0.000000
RESIDENTIAL UNITS                 0.000000
COMMERCIAL UNITS                  0.000000
TOTAL UNITS                       0.000000
LAND SQUARE FEET                  0.897628
GROSS SQUARE FEET                 0.904134
YEAR BUILT                        0.000000
TAX CLASS AT TIME OF SALE         0.000000
BUILDING CLASS AT TIME OF SALE    0.000000
SALE PRICE                        0.207818
SALE DATE                         0.000000
dtype: float64

## Soluções para lidar com Missings

1. dropna()
2. fillna()/interpolate() (plotar o histogram antes e depois para ver se as distribuições não se alteraram).
3. criar uma variável categórica para o missing
4. usar um modelo para prever o valor faltante

In [ ]:
df = pd.DataFrame( data= [ [np.nan, 1, 2, np.nan , 5 ], [6, 7, 8, 9, np.nan], [np.nan, np.nan, np.nan, 4, 11, 12]], columns=['A', 'B', 'C', 'D', 'E', 'F'] )

In [ ]:
df.head()

     A    B    C    D     E     F
0  NaN  1.0  2.0  NaN   5.0   NaN
1  6.0  7.0  8.0  9.0   NaN   NaN
2  NaN  NaN  NaN  4.0  11.0  12.0

In [ ]:
df.isnull().sum()

A    2
B    1
C    1
D    1
E    1
F    2
dtype: int64

In [ ]:
df.dropna()

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [ ]:
df.fillna( { 'B':np.mean( df['B'] ), 'A':0, 'C':np.median(df['C'])  } )

     A    B    C    D     E     F
0  0.0  1.0  2.0  NaN   5.0   NaN
1  6.0  7.0  8.0  9.0   NaN   NaN
2  0.0  4.0  NaN  4.0  11.0  12.0

In [ ]:
nyc_sales['APARTMENT_NULL'] = False

In [ ]:
nyc_sales.head(2)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,APARTMENT_NULL
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,NaN,...,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19,False
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,NaN,...,3,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14,False

In [ ]:
nyc_sales.loc[ nyc_sales['APARTMENT NUMBER'].isnull() == True, 'APARTMENT_NULL'] = True

In [ ]:
nyc_sales.head(2)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,APARTMENT_NULL
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,NaN,...,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19,True
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,NaN,...,3,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14,True

In [ ]:
nyc_sales['APARTMENT_NULL2'] = nyc_sales['APARTMENT NUMBER'].isnull()

In [ ]:
nyc_sales.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,APARTMENT_NULL,APARTMENT_NULL2
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,NaN,...,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19,True,True
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,NaN,...,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14,True,True
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,NaN,...,17,2212.0,7803.0,1900,2,C7,NaN,2016-12-09,True,True
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,NaN,...,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23,True,True
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,NaN,...,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17,True,True

# Análise de Duplicatas

```df.duplicated()```
> Se usado no dataframe, retorna True para as linhas que forem duplicadas. Se usado em uma coluna ou um conjunto de colunas, considera apenas essa seleção.

In [ ]:
nyc_sales.duplicated().sum()

200

In [ ]:
nyc_sales.drop_duplicates( inplace=True )

In [ ]:
nyc_sales.duplicated().sum()

0

# Remoção de Colunas Constantes

Uma coluna constante não fornece informações e portanto podemos excluí-la.

In [ ]:
nyc_sales['ADDRESS'].nunique()

10353

In [ ]:
len(nyc_sales['ADDRESS'].value_counts())

10353

In [ ]:
def get_constant_columns(df):

    constantes = []
    for coluna in df.columns:
        if df[coluna].nunique() == 1:
            constantes.append(coluna)

    return constantes

In [ ]:
repetidas = get_constant_columns(nyc_sales)

In [ ]:
repetidas

['BOROUGH', 'EASE-MENT']

In [ ]:
nyc_sales.drop( columns = repetidas, inplace=True)